[Unit]
Description=Barcode Duplicator
After=network.target

[Service]
Type=simple
User=scale
WorkingDirectory=/home/scale/qr-duplicator
ExecStart=bundle exec ruby barcode_duplicator.rb
Restart=always

[Install]
WantedBy=multi-user.target
