[Unit]
Description=Barcode Duplicator
After=network.target

[Service]
Environment="API_BASE_URL=https://vyvolej.to" 
Environment="SQUARED_API_TOKEN=TODO"
Type=simple
User=scale
WorkingDirectory=/home/scale/qr-duplicator
ExecStart=/home/scale/.rbenv/shims/bundler exec ruby barcode_duplicator.rb
Restart=always

[Install]
WantedBy=multi-user.target
